
<div class="row">


  <% @nearby_profiles.each do |profile| %>
      <!--  profile.user.pets.each do |pet|  -->
      <% profile.user.pets.with_picture.each do |pet| %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= pet.name %>

                <%= image_tag(pet.picture_url, class: 'img-responsive') %>

                <%if can? :manage, pet %>
                    <%= link_to 'Click to View', pet_path(pet.id)  %>
                <% end %>

              </div>
            </div>
          </div>
      <% end %>
  <% end %>

</div>

